*{
  margin: 0;
  top: 0;
  /* background-color: #f5f5f5; */
}

.ib{
  width: 1100px;
  height: 200px;
  margin-left: 10PX;
  font-size: 6em;
  color: darkblue;
}
body, html{
  background-color:  #f5f5f5;
}
#ib{
  font-size: 1em; 
  margin-left: 50px;
}
#ibk{
  width: 1200px;
  line-height: 100px;
  font-size: 2em; 
  margin-left: 50px;
  font-weight: 500px;
}
.maiden{
  transform: translateY(124px);
  margin-left: 20px;
  width: 10px;
}
.star{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid #008a77;
  position: relative;
  margin-left: 570px;
  top: 40px;
  padding: 2px;
  padding-top: 15px !important;
  text-align: center;
  animation: star  3s infinite;


}
.sept{
  position: relative;
  top: -20px;
  margin-left: 660px;
  /* transform: translateX(800px) !important; */
}
.buy{
  height: 50px;
  background-color: #fdb915;
  text-align: center;
  border: 1px solid #fdb915;
  text-decoration: none;
  transform: translateX(-700px);
  padding-top: 5px;
  width: 150px;
}
#yub{
  width: 600px;
  color: #22409f;
  font-size: 24px;
  font-weight: 500;
  margin-left: -50px;
}
.bt{
  margin-left: 800px;
  display: flex;
  gap: 20px;
}
.buys{
  width: 600px !important;
  height: 50px;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
  border: 1px solid #22409f;
  color: #22409f;
  margin-left: -700px;
  font-size: 24px;
  font-weight: 500;
  
}
.toyx{
  width: 1200px;
  border-bottom: 2px solid #fdb915;
}
.dc{
  width: 1100px;
  height: 300px;
  background: linear-gradient(to right,#fdb915, blue 100%) !important;
  text-align: center;
  padding: 50px;
  font-size: 30px;
  color: white;
  margin-left: -100px;
}
.bracket{
  margin: 100px;
  margin-left: 200px;
}
#stars{
  animation: stars 2s infinite;
}
@keyframes stars {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
#naira{
height: 50px;
}
.bar{
  background-color: #f5f5f5;
  border-bottom: 2px solid #fdfdfd;
}
#nav{
  /* margin-left: 200px; */
  display: flex;
  gap: 30px;
  width: auto;
  height: 100px;
  background-color: #f5f5f5;
  border-bottom: 1px solid transparent;
  color: #f5f5f5;
  padding-top: 20px;
}
.a{
  text-decoration: none;
  position: relative;
  left: 500px;
  font-size: 40px;
  color: black;
}
.b{
  background-color: #fdb915;
  font-size: 20px !important;
  border: 1px solid transparent;
  border-radius: 5px;
}
.aboutib{
  width: 50%;
}
.aboutib1{
  width: 50%;
}
.contain{
  display: flex;
  margin-left: 20px;
}
.bo{
  color: #fdb915;
  font-size: 5em;
line-height: 70px;

}
.tech{
  color: #224093;
  font-size: 5em;
line-height: 40px;
}
#hr{
  color: #fdb915 !important;
}
.welcome{
  color: #224093;
  font-size: 22px;
  font-family: Jost;
  line-height: 20px;
}
hr{
  color: #fdb915 !important;
}
.ven{
  color: #224093;
  font-family: Jost;
  font-weight: 800;
  font-size: 72px;
  line-height: 72px;
}
.corn{
  margin-left: 35px;
}
.speakers{
  color: #224093;
  font-family: Jost;
  font-weight: 800;
  font-size: 72px;
  line-height: 72px;
  position: relative;
  top: 20px;
}
.viw{
  color: #224093;
  font-family: Jost;
  font-weight: 500;
  font-size: 16px;
  line-height: 16x;
  position: relative;
  top: 5px;
  left: 1100px;
}
.flexcon{
  display: flex;
  justify-content: space-evenly;
  margin-left: -50px;
}
.akin{
  margin-left: 150px;
}
.Olu{
margin-left: -130px !important;
}
.emi{
margin-left: -220px !important;
}
.edem{
margin-left: -220px !important;
}
.ht{
  color: #224093;
  font-family: Jost;
font-size: 30px;
line-height: 30px;
font-weight: 500;
margin-left: 50px;
}
p{
  color: #224093;
  font-family: Jost;
font-size: 12px;
line-height: 27px;
font-weight: 400;
margin-left: 50px;
margin-top: -5px;

}
.gs{
  color: #224093;
  margin-left: 100px;
  font-size: 30px;
}
.akins{
  margin-top: -20px;
}
.femi{
  margin-left: -200px;
}
.speaker-container{
  margin-left: -40px;
}
.ticket{
  margin-top: 50px;
  width: 1200px;
  margin-left: 50px;
  border-bottom: 2px solid #fdb915;
}
.tic{
  color: #224093;
  font-family: Jost;
  font-weight: 800;
  font-size: 100px;
  line-height: 72px;
}
.secure{
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}
.now{
  width: 500px;
}
.your{
  color: black;
  line-height: 24px;
  font-weight: 400;
  font-family: Jost;
}
.gift{
  transform: translate(-90px, -110px);
}
.prices{
  font-family: Jost;
  line-height: 52.5px;
  font-weight: 700;
  font-size: 35px;
  color: #224093;
}
.tion{
  margin-left: 300px;
}
.th{
  color: white;
  background-color: inherit;
  font-size: 50px;
  font-family: Jost;
font-weight: 700;
}
.jh{
  color: white;
  background-color: inherit;
  font-size: 30px;
  font-weight: 700;
  font-family: Jost;
}
.yh{
  padding-top: 30px;
  background-color: inherit;
}
.tht{
  color: white;
  background-color: inherit;
  font-size: 50px;
  font-family: Jost;
font-weight: 700;
}
.uh{
  color: white;
  background-color: inherit;
  font-size: 30px;
  font-weight: 700;
  font-family: Jost;
}
.doings1{
  width: 400px;
  height: 600px;
  background-color:  white;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-left: -190px;

}
.wordings2{
  width: 400px;
  height: 630px;
  transform: translateY(-30px);
  /* background-color:  white; */
  border: 2px solid transparent;
  border-radius: 10px;
  margin-left: -100px;
  color: #224093;
  background-color: #ffcd5c;

}
.wordings3{
  width: 400px;
  height: 600px;
  background-color:  white;
  border: 2px solid transparent;
  border-radius: 10px;
}
.doingscontain{
  /* background-color: white; */
}
h5{
  color: #000000;
  background-color: white;
}
.doings1:hover{
  background-color: #008000;
  border: 2px solid #008000;
  cursor: pointer;
  color: inherit;
  color: white;
}
.doingscontain{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.speaker-container{
  margin-left: -30px;
  margin-top: 50px;
  gap: 5px;
}
.olumba{
  margin-left: -40px;
}
.adeitan{
  margin-left: -40px;
}
.tan{
  margin-left: 30px;
}
.rasheed{
  margin-left: -110px;
}
p{
  background-color: inherit;
} 
h5{
  background-color: inherit;
}
.w1{
  color: #000000;
  font-size: 12px;
}

